#app {
    background-image: url(../src/Images/doodledog.jpg);
    background-position: fixed;
    display: grid;
    justify-content: center;
    margin: auto;
    border: 10px solid;
    border-color: blue;
    border-radius: 50px;
    text-align: center;
}

.titleCard {
    background-color: rgba(255, 255, 255, 0.8);
    width: fit-content;
    margin: auto;
    border: 5px solid;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 5px
}

img {
    width: 50%;
    padding: 10px;
}

.PuppyCard{
    background-color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    border: 5px solid;
    border-radius: 50px;
    text-align: center;
    flex-direction: row;
    width: 600px;
    margin: 5px;
}

#colorLine {
    width: 500px;
}

#Rover {
    width: 150px;
}
#search {
    padding: 10px;
}